body {
    font-family: "Be Vietnam Pro", sans-serif;
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 97%);
	color:#999999;
	font-size:14px;
	font-weight:normal;
	height:100vh;
	margin:0;
}